<!doctype html>
{% load static %}
<html>
	<head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'tula/style.css' %}">
		<div>
			<h1> Tula Intelligent Interface</h1>
		</div>
		<div class = container>
			<div style ='float:left'>
				<form action="{% url 'tula:home'%}" method="post" target="_top">
					{% csrf_token %}
				    <input type="submit" value="Início" />
				</form>
			</div>
			<div style = 'float:left;'>
				<form action="{% url 'tula:real_time_view'%}" method="post"  target="_top">
					{% csrf_token %}
				    <input type="submit" value="Ver Câmara" />
				</form>
			</div>
			<div style = 'float:left;'>
				<form action="{% url 'tula:train'%}" method="post" target="_top">
					{% csrf_token %}
				    <input type="submit" value="Treinar Modelo" />
				</form>
			</div>
		</div>
	<title>TII</title>
	</head>


	<body>
		<div>	
			{% block content %}
			{% endblock %}
		</div>
	</body>

	<div id="footer">
	<img src="{% static "tula/tula_logo.png" %}" alt="My image">	
	</div>
</html>