<!DOCTYPE html>
{% extends 'tula/base.html' %}
{% block content %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>
    </head>

    <body>
        <!-- List of uploaded files -->
        	<li>{{file_name}}</li>
        	<script type="text/javascript">
                     document.write('<img src="/media/images/rejected/{{file_name}}?'+Math.random()+'" alt="Willmaster.com logo" border="0" height="500" width="500">');
                     document.write('<img src="/media/images/rejected/{{file_name}}chart.png?'+Math.random()+'" alt="Willmaster.com logo" border="0" height="500" width="500">');
                     </script>
        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'tula:switch_rejected' file_name%}" method="post">
			{% csrf_token %}
			<input type="submit" value="Change to ACCEPTED" />
		</form>
        <form action="{% url 'tula:rejected_list'%}" method="post">
            {% csrf_token %}
            <input type="submit" value="Back" />
    </body>

</html>
{% endblock %}