h1{
    
    color: #C25100;
    text-align: center;

}

h2{
    color: #C25100;
    margin-left: 2.5%;
}

h3{
    
    color: #001a33;
    text-align: center;
    margin-top:250px;
    font-size: 500%;

}

h4{ 
    margin-top:1%;
    color: #000000;
    text-align: center;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

#container3 {
  /*color: white;
  background: #363636;*/
  padding: 7em;
  /*background: #363636;*/
  flex: 1 1 auto;
  /*grow vertically*/
  /*width: 55%;
  text-align: center;*/
}
div.container2{
    margin-left:5%;
}


div.container
{
    text-align: center;
    margin-left:41.2%;

}


div.container4
{
    margin-top: 1.1%;
    text-align: center;
}

body{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

#footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #001a33;
  color: white;
  text-align: center;
}

#wrapper {
  display: flex;
}

#left {
  flex: 0 0 65%;
}

#right {
  flex: 1;
}
